<h1>Welcome to <%= @restaurant.name %></h1>

<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %> <br>
Phone: <%= @restaurant.phone_number %></p>

<ul>
  <% @reviews.each do |review| %>
    <li> <%= review.content %> | <%= review.rating %> </li>
  <% end %>
</ul>
<p><%= link_to "Back to Admin restaurants list", admin_restaurants_path, class: "btn btn-primary" %></p>

