<h1>Welcome to <%= @restaurant.name %></h1>

<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %> <br>
Phone: <%= @restaurant.phone_number %></p>

<p><%= link_to "Back to restaurants list", restaurants_path %></p>

